// variables
$white: #fff;
$black: #000;
$primary: #B40F11;
$secondary: #F7E3E3;
$text-color: #333A42;
$heading-color: #222222;
$light-blue: #DEEFFA;
$secondary-light: #e5f3fc;
$light-bg: #fcf9f3;
$button-text-color: #581816;

// breakpoints
$too-small-mobile: 320px;
$small-mobile: 376px;
$mid-mobile: 450px;
$mobile: 576px;
$small-tab: 768px;
$big-tab: 992px;
$small-desktop: 1024px;
$desktop: 1200px;
$mid-desktop: 1400px;
$large-desktop: 1800px;

// FONT
